@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&family=Mukta:wght@300&family=Nunito&family=Poppins:wght@500&family=Quicksand:wght@600&display=swap");
body {
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

.lg-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
@media screen and (max-width: 768px) {
  .lg-3 {
    grid-template-columns: 1fr;
  }
  .lg-3 :nth-child(2) {
    margin-top: 20px;
  }
  .lg-3 :last-child {
    margin-top: 20px;
  }
}

.buy-card, .plan-card, .description-card, .message-card {
  min-width: 200px;
  border: 1px solid rgba(52, 54, 56, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.15);
  padding: 1em 1em;
}
.buy-card :first-child, .plan-card :first-child, .description-card :first-child, .message-card :first-child {
  margin-top: 0em;
}
.buy-card :last-child, .plan-card :last-child, .description-card :last-child, .message-card :last-child {
  margin-bottom: 0em;
}
.buy-card.small, .small.plan-card, .small.description-card, .small.message-card {
  max-width: 300px;
}
.buy-card:hover, .plan-card:hover, .description-card:hover, .message-card:hover {
  box-shadow: 3px 3px 3px 0 rgba(52, 54, 56, 0.4);
}

.container {
  display: block;
  max-width: 100% !important;
}

.button {
  background: #E0E1E2 none;
  min-height: 1em;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.28571429rem;
}
.button:hover {
  background-color: #aeb1b5;
}
.button.mini {
  min-height: 0.5em;
  margin: 0em 0.25em 0em 0em;
  padding: 0.38571429em 0.5em 0.38571429em;
}
.button.blue {
  background-color: #4730db;
  color: #ffffff;
}
.button.blue:hover {
  background-color: #3322a0;
}
.button.raised {
  box-shadow: 2px 1px 2px 0 rgba(52, 54, 56, 0.6);
}
.button.raised:active {
  box-shadow: 3px 3px 3px 0 rgba(51, 34, 160, 0.4);
}
.button.red {
  background-color: #e90404;
  color: #ffffff;
}
.button.red:hover {
  background-color: #aa0808;
}
.button.orange {
  background-color: orange;
  color: #ffffff;
}
.button.orange:hover {
  background-color: #dd9206;
}
.button.violet {
  background-color: #7952b3;
  color: #ffffff;
}
.button.violet:hover {
  background-color: #61448d;
}
.button.white {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.3);
  color: #4730db;
}
.button.black {
  background-color: black;
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.3);
  color: #ffffff;
}

.button-basic {
  min-height: 1em;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  cursor: pointer;
  display: inline-block;
  border: 0.2px solid #969393;
  border-radius: 0.28571429rem;
}
.button-basic:hover {
  border: 1px solid gray;
}

.right-labeled-button {
  min-height: 1em;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.28571429rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.right-labeled-button :first-child {
  padding-right: 10px;
}
.right-labeled-button.black {
  background-color: black;
  color: #ffffff;
}
.right-labeled-button.black :nth-child(2) {
  border-left: 0.4px solid #302e2e;
  padding-left: 10px;
}
.right-labeled-button.blue {
  background-color: #4730db;
  color: #ffffff;
}
.right-labeled-button.blue :nth-child(2) {
  border-left: 1px solid #2509d8;
  padding-left: 10px;
}
.right-labeled-button.white {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.15);
  color: #4730db;
}
.right-labeled-button.white :nth-child(2) {
  border-left: 0.4px solid #d6d1d1;
  padding-left: 10px;
}

.left-labeled-button {
  min-height: 1em;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.28571429rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.left-labeled-button :first-child {
  padding-right: 5px;
}
.left-labeled-button.black {
  background-color: black;
  color: #ffffff;
}
.left-labeled-button.black :nth-child(2) {
  border-left: 0.4px solid #302e2e;
  padding-left: 10px;
}
.left-labeled-button.blue {
  background-color: #4730db;
  color: #ffffff;
}
.left-labeled-button.blue :nth-child(2) {
  border-left: 0.4px solid #300c6b;
  padding-left: 10px;
}
.left-labeled-button.white {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.15);
  color: #4730db;
}
.left-labeled-button.white :nth-child(2) {
  border-left: 0.4px solid gray;
  padding-left: 10px;
}

.message-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.message-card .header img {
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
}
.message-card .content {
  opacity: 0.6;
  padding-left: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  border-bottom: 0.1px dotted gray;
}
.message-card .extra-content {
  padding-top: 7px;
}

.fl-2 {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

/*description card*/
.description-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.description-card .header {
  display: flex;
  justify-content: space-between;
}
.description-card .header .legend .first-name {
  display: block;
  font-size: 1.3em;
}
.description-card .header .legend .last-name {
  opacity: 0.4;
}
.description-card .header .duration {
  opacity: 0.4;
}
.description-card .content {
  opacity: 0.6;
  padding-left: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  border-bottom: 0 dotted gray;
}
.description-card .extra-content {
  padding-top: 7px;
}
.description-card .extra-content .right-floated {
  float: right;
  display: inline-flex;
  column-gap: 10px;
}
.description-card .extra-content .right-floated img {
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
}
.description-card .extra-content .right-floated .author {
  align-self: center;
  opacity: 0.4;
}

/*Image card */
.image-card {
  min-width: 200px;
  border: 1px solid rgba(52, 54, 56, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.15);
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.image-card .image {
  width: 100%;
  height: 280px;
}
.image-card .image img {
  width: 100%;
  height: 100%;
}
.image-card .header {
  padding-left: 10px;
}
.image-card .header .title {
  font-size: 1.4em;
}
.image-card .header .sub-title {
  opacity: 0.4;
  font-size: 0.9em;
}
.image-card .description {
  padding: 10px;
  opacity: 0.7;
}
.image-card .extra-content {
  border-top: 0.2px solid #e2dddd;
}
.image-card .extra-content .extra {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: gray;
}

.custom-menu, .default-menu {
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(52, 54, 56, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.15);
}

.default-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.default-menu .head {
  padding-left: 10px;
}
.default-menu .nav {
  padding-right: 10px;
}
.default-menu .nav a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
  cursor: pointer;
}
.default-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

.custom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-menu.inverted {
  background-color: black;
  color: #ffffff;
}
.custom-menu.blue {
  background-color: #4730db;
  color: #ffffff;
}
.custom-menu :first-child {
  padding-left: 10px;
}
.custom-menu .nav a {
  margin-left: 40px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.custom-menu .nav-brand {
  float: right;
  padding-right: 10px;
}

/*style for label*/
.label {
  max-width: 60px;
  max-height: 60px;
}
.label .indicator {
  display: flex;
  justify-content: flex-end;
}
.label .indicator .value {
  border: 1px solid #ee1e1e;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d30909;
  color: #ffffff;
}
.label .icon {
  display: flex;
  justify-content: center;
}

.secondary-menu {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: baseline;
}
.secondary-menu .item {
  cursor: pointer;
  margin-left: 30px;
  color: gray;
}
.secondary-menu .item.brand {
  padding-left: 50px;
}
.secondary-menu .item.icon {
  padding-right: 50px;
}
.secondary-menu .item.icon img {
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.badge {
  border: 1.8px solid #c0baba;
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: baseline;
}
.badge .label {
  border: 1px solid #f76969;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #f76969;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.text-center, .sub-title, .title {
  text-align: center;
}

.pade {
  margin-top: 50px;
}

.title {
  font-size: 6em;
}

.sub-title {
  width: 70%;
  font-size: 1.3em;
  opacity: 0.7;
}

.inline {
  display: inline-block;
}

.text-blue {
  color: #4730db;
}

.ui-header :first-child {
  font-size: 2em;
}
.ui-header :nth-child(2) {
  opacity: 0.4;
}

.fluid {
  display: flex;
  justify-content: center;
}

.grid-eq-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  column-gap: 20px;
}
.grid-eq-3 .description-card {
  max-width: 100%;
}

.grid-inq-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  padding: 20px;
}

.title-2 {
  font-size: 2.5em;
}

.title-3 {
  font-size: 3.5em;
}

#back-2 {
  background-color: #fafafa;
  min-height: 400px;
  padding-bottom: 50px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 100px;
  column-gap: 20px;
  padding-right: 100px;
  align-items: center;
}
.grid-2 img {
  width: 100%;
}

.grid-eq-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  padding: 20px;
}
.grid-eq-2 .eq-it {
  margin-top: 20px;
}
.grid-eq-2 img {
  width: 100%;
}

.basic-card {
  padding: 1em 1em;
}
.basic-card:hover {
  box-shadow: 3px 3px 3px 0 rgba(52, 54, 56, 0.4);
  min-width: 200px;
  border: 1px solid rgba(52, 54, 56, 0.15);
}

.icon-header {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.icon-header .con-title {
  font-size: 1.2em;
}
.icon-header .sub {
  font-size: 0.8em;
  opacity: 0.7;
}

.img-size {
  width: 60%;
}

.pade1 {
  padding-top: 60px;
  padding-bottom: 30px;
}

#back1 {
  background-color: #23243c;
  min-width: 100%;
  color: #ffffff;
}

.plan-card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}
.plan-card .extra-content {
  bottom: 0;
}

#id-1 {
  width: 40%;
}

#flex {
  align-items: baseline;
}

.flex-3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.flex-3 li {
  list-style-type: none;
}

@media only screen and (max-width :768px) {
  /*Titre du site*/
  .title {
    font-size: 2em;
  }

  .secondary-menu {
    justify-content: space-around;
    border: 1px solid rgba(52, 54, 56, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(52, 54, 56, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 700;
  }
  .secondary-menu :nth-child(2) {
    display: none;
  }
  .secondary-menu :nth-child(3) {
    display: none;
  }
  .secondary-menu :nth-child(4) {
    display: none;
  }
  .secondary-menu :nth-child(5) {
    display: none;
  }
  .secondary-menu :nth-child(6) {
    display: none;
  }
  .secondary-menu :nth-child(7) {
    display: none;
  }
  .secondary-menu :nth-child(8) {
    display: none;
  }
  .secondary-menu :nth-child(9) {
    display: none;
  }
  .secondary-menu :nth-child(10) {
    display: none;
  }

  .grid-eq-2 {
    grid-template-columns: 1fr;
  }

  .flex-3 {
    flex-direction: column;
  }

  .badge {
    margin-top: 40px;
    width: 90%;
  }

  #flex {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    text-align: center;
  }

  /*badge*/
  .badge {
    flex-direction: column;
    row-gap: 10px;
  }

  /*sub title*/
  .sub-title {
    width: 95%;
  }

  .title-3 {
    font-size: 2em;
  }

  .grid-eq-3 {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
  }

  .grid-eq-2 {
    grid-template-columns: 1fr;
  }

  .grid-inq-2 {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  .title-2 {
    font-size: 1.5em;
  }

  .button-basic {
    text-align: center;
  }
}
@media only screen and (min-width:1012px) {
  #icon-bar {
    display: none;
  }
}
.opacity-6 {
  opacity: 0.6;
}

footer {
  margin-top: 30px;
  background-color: #23243c;
  color: #ffffff;
}

@media only screen and (min-width:769px ) and (max-width:968px) {
  /*Titre du site*/
  .title {
    font-size: 3em;
  }

  .flex-center-2 {
    flex-direction: column;
  }

  .grid-eq-3 {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
